<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 30px;">
    <div>
        <h2 style="margin-bottom: 20px; font-family: Urbanist;">Hello {{ user.username }}</h2>
        <p style="font-family: Urbanist;">Welcome to your dashboard!</p>
    </div>
    <div>
        <a class="addprop-link" style="font-family: Urbanist;" href="{% url 'addproperty' %}">+ Add Properties</a>
    </div>
</div>

<h3 style="font-family: Urbanist; margin-bottom: 20px;">Your Uploaded Properties</h3>
<div class="uploaded-props">
    {% for property in properties %}
    <div class="landing-card">
        {% if property.image %}
        <div class="features-img"><img src="{{ property.image.url }}" alt="" class="features-img"></div>
        {% else %}
        <p>Image not found</p>
        {% endif %}
        <div class="text-div">
            <h2 class="properties-card-header">{{ property.propertyName }}</h2>
            <p class="properties-card-para">{{ property.description }}</p>
            <p>{{property.Town}}</p>
            <p>{{property.lga}}</p>
        </div>
        <div class="specs">
            <div class="specs-info">
                <i class="fa-solid fa-bed"></i>
                <p>{{ property.bedrooms }}-bedroom</p>
            </div>
            <div class="specs-info">
                <i class="fa-solid fa-bath"></i>
                <p>{{property.bathrooms}}-bathroom</p>
            </div>
            <div class="specs-infos">
                <i class="fa-solid fa-building e"></i>
                <p>{{ property.houseType }}</p>
            </div>
        </div>
        <div class="price">
            {% if property.listing %}
                <!-- Property is already listed -->
                <a class="publish" href="{% url 'propdetails' property.listing.id %}">View Listed Property</a>
            {% else %}
                <!-- Property not listed yet -->
                 <div class="card-links">
                    <a class="card-link" style="font-family:'Urbanist';" href="{% url 'listproperties' property.id %}">List This Property</a>
                    <a class="card-link" style="font-family:'Urbanist';" href="{% url 'edit_upload' property.id %}">Edit This Property</a>
                    <a class="card-link" style="font-family:'Urbanist';" href="{% url 'confirm_delete_draft' property.id %}" class="btn-delete">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>No properties Uploaded</p>
    {% endfor %}
</div>

<h3 style="font-family: Urbanist; margin-top: 50px;">Your Listed Properties</h3>
<div class="tabs">
    <a href="?tab=pending" class="{% if active_tab == 'pending' %}active{% endif %} tab">
        Pending
    </a>
    <a href="?tab=approved" class="{% if active_tab == 'approved' %}active{% endif %} tab">
        Approved
    </a>
    <a href="?tab=declined" class="{% if active_tab == 'declined' %}active{% endif %} tab">
        Declined
    </a>
</div>

<div class="uploaded-props">
    {% for listed in listed_properties %}
    <div class="landing-card">
        {% if listed.image1 %}
        <div class="features-img"><img src="{{ listed.image1.url }}" alt="" class="features-img"></div>
        {% else %}
        <p>Image not found</p>
        {% endif %}
        <div class="text-div">
            <h2 class="properties-card-header">{{ listed.propertyName }}</h2>
            <p class="properties-card-para">{{ listed.moreDescription | truncatechars:100}}</p>
        </div>
        <div class="specs">
            <div class="specs-info bed">
                <i class="fa-solid fa-bed"></i>
                <p>{{ listed.bedrooms }}-bedroom</p>
            </div>
            <div class="specs-info bed">
                <i class="fa-solid fa-bath"></i>
                <p>{{ listed.bathrooms }}-bathroom</p>
            </div>
            <div class="specs-infos">
                <i class="fa-solid fa-building e"></i>
                <p>{{ listed.houseType }}</p>
            </div>
        </div>
        <div class="price" id="anprice">
            <div class="price-div">
                <p class="Price">Price</p>
                {% if listed.prop_choices == 'sale'  %}
                <p class="price-figs">₦{{ listed.price }}</p>
                {% else %}
                <p class="price-figs">₦{{ listed.price }}/{{ listed.duration }}</p>                
                {% endif %}
            </div>
            <div class="card-links">
                <a class="card-link" style="font-family:'Urbanist';" href="{% url 'propdetails' listed.id %}" >View Property Details</a>
                <a class="card-link" style="font-family:'Urbanist';" href="{% url 'edit_listed' listed.id %}" >Edit Property</a>
                <a class="card-link" style="font-family:'Urbanist';" href="{% url 'confirm_delist' listed.id %}" >Delist</a>            
            </div>
        </div>
    </div>    
    {% empty %}
    <p>No properties Listed</p>
    {% endfor %}

</div>
    